<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body
    style="margin:auto; width:640px; font-size:large; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <div class="image" style="background-color:black; text-align: center;">
        <img src="https://192.168.88.238/logo2.png" alt="Company Logo" style="width:350px; height:auto;" alt="">
    </div>
    <div class="main">
        <h1>Klientas nori susisiekti</h1>
        <p>Vardas: <%= name %></p>
        <p>Paštas: <%= mail %></p>
        <p>Telefono numeris: <%= number %></p>
        <p>Komentaras: <%= message %></p>
    </div>
</body>

</html>